{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>页面不存在</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/404.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/index.css' %}"/>
</head>
<body>
    <div class="system">
        <img src="/media/404.png">
        <div class="title">
            <h2>页面走丢了...</h2>
            <h4>朋友你好！非常抱歉，您所请求的页面不存在！！！</h4>
            <h4>请仔细检查您输入的网址是否正确。</h4>
	    </div>
    </div>
</body>
</html>
